.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.centerText{
  text-align: center;
  border: 3px;
}

.imgCurrent {
  opacity: 1.0;
}

.imgPast {
  opacity: 0.2;
  transform: scale(0.9);
}

.imgPast:hover {
  opacity: 1.0;
  transform: scale(0.9);
}